.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list > li{
    list-style: none;
}

.buttons{
    display: flex;
    justify-content: flex-end;
  
}